/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #c0bac0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #85afb9;
    color: rgb(15, 15, 15);
    text-align: center;
    padding: 10px;
}

/* Seleção de classe */
.texto-destaque {
    color: #fd2c6b; 
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

/* Seleção de tipo */
p {
    font-size: 16px;
    color: #333;
    margin: 15px 0;
}

/* Imagens */
img {
    margin-right: 10px;
}

.imagem-maior {
    width: 300px;
}

/* Listas */
ol {
    font-size: 16px;
    margin-left: 20px;
}

/* Estilizando o formulário */
form {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Seletor complexo: classe + atributo */
button[type="submit"] {
    background-color: #fa84f0;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #9845a0;
}

/* Footer */
footer {
    background-color: #b33a94;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
